<div class="login_page d-flex align-items-center flex-column">
  <h1>Login</h1>
  <form class="col-12 col-md-8 col-lg-6" [formGroup]="loginForm">
    <div class="mb-3">
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        formControlName="username"
        [class.is-invalid]="
          loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched
        "
      />
    </div>
    <div class="mb-4">
      <label>Password</label>
      <input
        type="text"
        class="form-control"
        formControlName="password"
        [class.is-invalid]="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      />
    </div>
    <div class="mb-3">
      <input
        type="submit"
        class="form-control"
        value="Sign In"
        [disabled]="
          loginForm.get('username')?.invalid ||
          loginForm.get('password')?.invalid
        "
        (click)="submitLoginForm(loginForm.value)"
      />
    </div>
  </form>
</div>
